<!--Header-->
<header>
    <div class="container mx-auto">
        <div>
            <div>
                <a href="/">
                    <img src="/img/yipl-logo.svg" alt="YIPL Logo">
                </a>
            </div>

            <ul>
                <li>
                    <a class="inline-block text-primary" href="/work">Work</a>
                </li>
                <li>
                    <a class="inline-block text-primary" href="/career">Career</a>
                </li>
                <li>
                    <a class="inline-block text-primary" href="/our-story">Our Story</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--End Header-->
