<!--Banner-->
<section class="px-8">
    <div class="container mx-auto relative overflow-hidden">
        <div class="hidden lg:block circle-wrap">
            <div class="rellax circle circle-1" data-rellax-speed="1"></div>
            <div class="rellax circle circle-2" data-rellax-speed="2"></div>
            <div class="rellax circle circle-3" data-rellax-speed="3"></div>
        </div>
        <div class="hero-block flex items-center relative">
            <div class="max-w-2xl">
                <h1 class="text-black-dark text-48 font-semibold">
                    Advice you can trust Mortgage Loan Interest rates, Eligibility & Calculator
                </h1>
                <div class="mt-56">
                    <a class="inline-block bg-primary py-16 px-32 text-white rounded" href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="absolute bottom-0" style="right: 200px; ">
            <img class="mockup" src="/img/bg-apple-iphone-x-silver.png" alt="iPhone X">

            <button class='open-walkthrough'><span>Start</span></button>
            <div class='walkthrough show reveal'>
                <div class='walkthrough-pagination'>
                    <a class='dot active'></a>
                    <a class='dot'></a>
                    <a class='dot'></a>
                    <a class='dot'></a>
                    <a class='dot'></a>
                </div>
                <div class='walkthrough-body'>
                    <ul class='screens animate'>
                        <li class='screen active'>
                            <div class='media logo'>
                                <img class='logo' src='https://s3.amazonaws.com/jebbles-codepen/icon.png'>
                            </div>
                            <h3>
                                Product Intro
                                <br>Walkthrough</br>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        </li>
                        <li class='screen'>
                            <div class='media books'>
                                <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/book_icon_1.png'>
                                <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/book_icon_2.png'>
                                <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/book_icon_3.png'>
                            </div>
                            <h3>
                                Data and File
                                <br>Management</br>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        </li>
                        <li class='screen'>
                            <div class='media bars'>
                                <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_axis.png'>
                                <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_3.png'>
                                <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_2.png'>
                                <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_1.png'>
                            </div>
                            <h3>
                                Analytics
                                <br>and Metrics</br>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        </li>
                        <li class='screen'>
                            <div class='media files'>
                                <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_1.png'>
                                <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_2.png'>
                                <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_3.png'>
                                <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_4.png'>
                            </div>
                            <h3>
                                Reporting
                                <br>and Insights</br>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        </li>
                        <li class='screen'>
                            <div class='media comm'>
                                <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/comm_icon_1.png'>
                                <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/comm_icon_2.png'>
                            </div>
                            <h3>
                                Communications
                                <br>Tools</br>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        </li>
                    </ul>
                    <button class='prev-screen'>
                        <i class='icon-angle-left'></i>
                    </button>
                    <button class='next-screen'>
                        <i class='icon-angle-right'></i>
                    </button>
                </div>
                <div class='walkthrough-footer'>
                    <button class='button next-screen'>Next</button>
                    <button class='button finish close' disabled='true'>Finish</button>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Banner-->
