<!--Partial Footer-->
<footer>
    <div class="py-56 bg-light-white border-b" style="border-color: #e2e2e2;">
        <div class="container mx-auto px-8">
            <div>
                <div class="flex flex-wrap -mx-8 -mb-24">
                    <div class="w-full md:w-1/2 lg:w-1/4 px-8 mb-24">
                        <div>
                            <div>
                                <a class="inline-block mb-24" href="#">
                                    <img class="inline-block h-48" src="/img/logo.png" alt="Gurkha Mortgage Logo" title="Gurkha Mortgage Logo">
                                </a>
                                <span class="block mb-24">
                                    First Floor, 84-88 Frimley High St, Frimley, Camberley GU16 7JE, UK
                                </span>
                                <span class="font-semibold text-18 block text-black-dark">
                                    Call us : <a href="tel:+44 1276 534242">+44 1276 534242</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/4 px-8 mb-24">
                        <div>
                            <div>
                                <h3 class="text-18 mb-24 text-black-dark font-semibold">Services</h3>
                                <ul class="spaced-y-20">
                                    <li>
                                        <a class="hover:text-primary" href="#">Mortgage Advisor</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-primary" href="#">Terms & Conditions</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-primary" href="#">FAQs</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-primary" href="#">Policies</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-primary" href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/4 px-8 mb-24">
                        <div>
                            <div>
                                <h3 class="text-18 mb-24 text-black-dark font-semibold">Links</h3>
                                <ul class="spaced-y-20">
                                    <li>
                                        <a class="hover:text-primary" href="#">About</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-primary" href="#">Mortgages</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-primary" href="#">Protection</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-primary" href="#">Equity Release</a>
                                    </li>
                                    <li>
                                        <a class="hover:text-primary" href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/4 px-8 mb-24">
                        <div>
                            <div>
                                <h3 class="text-18 mb-24 text-black-dark font-semibold">Latest Tweets</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-40">
        <div class="container mx-auto px-8">
            <div>
                <div class="text-12">
                    <p>Gurkha Mortgages is a trading style of Michael Usher Mortgage Services Ltd which is an appointed representative of HL
                        Partnership Limited which is authorised and regulated by the Financial Conduct Authority. Michael Usher Mortgage Services Ltd
                        is a company registered in England and Wales with company number 4156383. The registered office address is 84 – 88 High
                        Street, Frimley, Surrey, GU16 7JE.</p>
                    <p class="mt-16">The information contained within this website is subject to the UK regulatory regime and is therefore targeted at
                        consumers
                        based in the UK.</p>
                </div>
                <div class="flex items-center flex-wrap justify-center md:justify-between mt-56">
                    <div class="text-black-dark">
                        <p>Copyright © {{now.Year}} <a href="#">Gurkha <span class="text-primary">Mortgages</span></a>. All Rights Reserved.</p>
                    </div>
                    <div class="mt-24 md:mt-0">
                        <ul class="flex spaced-x-20">
                            <li class="flex items-center">
                                <a class="flex items-center" href="#" style="color: #3b5998;">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a>
                            </li>
                            <li class="flex items-center">
                                <a class="flex items-center" href="#" style="color: #00acee;">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a></li>
                            <li class="flex items-center">
                                <a class="flex items-center" href="#" style="color: #ff2d00;">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
