<!--Involved Section-->
<section class="px-8 bg-secondary py-120">
    <div class="container mx-auto">
        <div>
            <div class="text-center max-w-3xl mx-auto mb-90">
                <h1 class="text-black-dark text-36 mb-32 font-semibold">Who’s involved in buying a house?</h1>
                <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus montes, nascetur ridiculus mus.</p>
            </div>
            <div class="flex flex-wrap text-center max-w-5xl mx-auto -mb-90">
                <div class="w-1/3 px-16 mb-90" data-aos="zoom-out-up">
                    <div>
                        <div class="mb-24">
                            <img class="inline-block" src="/img/icons/ic_remortgage.png" alt="Remortgage">
                        </div>
                        <h2 class="text-black-dark font-18 mb-24 font-semibold">Re-Mortgage</h2>
                        <p class="text-14 leading-relaxed">Lorem ipsum dolor sit amet adicing elit maecenas sa faubus mollis interdum.</p>
                    </div>
                </div>
                <div class="w-1/3 px-16 mb-90" data-aos="zoom-out-up">
                    <div>
                        <div class="mb-24">
                            <img class="inline-block" src="/img/icons/ic_buy-to-let.png" alt="Buy To Let">
                        </div>
                        <h2 class="text-black-dark font-18 mb-24 font-semibold">Buy To Let</h2>
                        <p class="text-14 leading-relaxed">Lorem ipsum dolor sit amet adicing elit maecenas sa faubus mollis interdum.</p>
                    </div>
                </div>
                <div class="w-1/3 px-16 mb-90" data-aos="zoom-out-up">
                    <div>
                        <div class="mb-24">
                            <img class="inline-block" src="/img/icons/ic_help-to-buy.png" alt="Help To Buy">
                        </div>
                        <h2 class="text-black-dark font-18 mb-24 font-semibold">Help To Buy</h2>
                        <p class="text-14 leading-relaxed">Lorem ipsum dolor sit amet adicing elit maecenas sa faubus mollis interdum.</p>
                    </div>
                </div>
                <div class="w-1/3 px-16 mb-90" data-aos="zoom-out-up">
                    <div>
                        <div class="mb-24">
                            <img class="inline-block" src="/img/icons/ic_real-estate.png" alt="Real State">
                        </div>
                        <h2 class="text-black-dark font-18 mb-24 font-semibold">Real State</h2>
                        <p class="text-14 leading-relaxed">Lorem ipsum dolor sit amet adicing elit maecenas sa faubus mollis interdum.</p>
                    </div>
                </div>
                <div class="w-1/3 px-16 mb-90" data-aos="zoom-out-up">
                    <div>
                        <div class="mb-24">
                            <img class="inline-block" src="/img/icons/ic_wills.png" alt="Wills">
                        </div>
                        <h2 class="text-black-dark font-18 mb-24 font-semibold">Wills</h2>
                        <p class="text-14 leading-relaxed">Lorem ipsum dolor sit amet adicing elit maecenas sa faubus mollis interdum.</p>
                    </div>
                </div>
                <div class="w-1/3 px-16 mb-90" data-aos="zoom-out-up">
                    <div>
                        <div class="mb-24">
                            <img class="inline-block" src="/img/icons/ic_conveyancing.png" alt="Conveyancing">
                        </div>
                        <h2 class="text-black-dark font-18 mb-24 font-semibold">Conveyancing</h2>
                        <p class="text-14 leading-relaxed">Lorem ipsum dolor sit amet adicing elit maecenas sa faubus mollis interdum.</p>
                    </div>
                </div>
                <div class="w-1/3 px-16 mb-90" data-aos="zoom-out-up">
                    <div>
                        <div class="mb-24">
                            <img class="inline-block" src="/img/icons/ic_protection.png" alt="Protection">
                        </div>
                        <h2 class="text-black-dark font-18 mb-24 font-semibold">Protection</h2>
                        <p class="text-14 leading-relaxed">Lorem ipsum dolor sit amet adicing elit maecenas sa faubus mollis interdum.</p>
                    </div>
                </div>
                <div class="w-1/3 px-16 mb-90" data-aos="zoom-out-up">
                    <div>
                        <div class="mb-24">
                            <img class="inline-block" src="/img/icons/ic_let-you-buy.png" alt="Let You Buy">
                        </div>
                        <h2 class="text-black-dark font-18 mb-24 font-semibold">Let You Buy</h2>
                        <p class="text-14 leading-relaxed">Lorem ipsum dolor sit amet adicing elit maecenas sa faubus mollis interdum.</p>
                    </div>
                </div>
                <div class="w-1/3 px-16 mb-90" data-aos="zoom-out-up">
                    <div>
                        <div class="mb-24">
                            <img class="inline-block" src="/img/icons/ic_residential.png" alt="Residential">
                        </div>
                        <h2 class="text-black-dark font-18 mb-24 font-semibold">Residential</h2>
                        <p class="text-14 leading-relaxed">Lorem ipsum dolor sit amet adicing elit maecenas sa faubus mollis interdum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Involved Section-->
