<!--Process-->
<section class="px-8 py-120 section-process relative">
    <div class="hidden md:block absolute left-0 right-0 top-0 bottom-0 text-right">
        <img class="h-full inline-block" src="/img/bg-process.png" alt="">
    </div>
    <div class="container mx-auto relative">
        <div class="mb-90">
            <h1 class="text-black-dark text-36 font-semibold">Process - Mortgage</h1>
        </div>
        <div class="flex flex-wrap -mx-16 -mb-56">
            <div class="w-full md:w-1/2 px-16 mb-56">
                <div>
                    <ul class="spaced-y-30 text-black-dark font-medium overflow-hidden">
                        <li class="flex" data-aos="fade-right">
                            <ion-icon class="mr-8 w-32" name="color-wand"></ion-icon>
                            <span>Complete DIP or AIP application process</span>
                        </li>
                        <li class="flex" data-aos="fade-right">
                            <ion-icon class="mr-8 w-32" name="flashlight"></ion-icon>
                            <span class="flex-1">
                                View and make an offer once you find the home that meets your requirement and meets the DIP application
                                financial guideline
                            </span>
                        </li>
                        <li class="flex" data-aos="fade-right">
                            <ion-icon class="mr-8 w-32" name="done-all"></ion-icon>
                            <span>Complete the loan application</span>
                        </li>
                        <li class="flex" data-aos="fade-right">
                            <ion-icon class="mr-8 w-32" name="contact"></ion-icon>
                            <span>Find a Solicitor to act on your behalf</span>
                        </li>
                        <li class="flex" data-aos="fade-right">
                            <ion-icon class="mr-8 w-32" name="hand"></ion-icon>
                            <span>Obtain Loan approval from the lender</span>
                        </li>
                        <li class="flex" data-aos="fade-right">
                            <ion-icon class="mr-8 w-32" name="finger-print"></ion-icon>
                            <span>Close the Loan and take possession of your new home</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Process-->
