<!--Video-->
<section class="px-8 py-120 section-video relative">
    <div class="bg-img-wrap absolute left-0 top-0 right-0 bottom-0">
        <img class="w-full h-full object-cover" src="/img/bg-video.jpg" alt="">
    </div>
    <div class="container mx-auto relative">
        <div class="text-center">
            <span class="text-white text-12 block uppercase mb-24">How does it work?</span>
            <h1 class="text-white text-36 mb-60 font-semibold">It's simple, really</h1>
        </div>
        <div id="video" data-video="/video/video.mp4" data-type="video/mp4">
            <video src="/video/video.mp4" type="video/mp4" playsinline>
                <source src="/video/video.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>
<!--End Video-->
